<mat-card *ngFor="let node of state" class="node" id="node{{node.num}}">
  <mat-card-header>
    <mat-card-subtitle>
      <p>Value {{node.value}}</p>
      <p>Leader {{node.leader}}</p>
      <p>Running {{node.running}}</p>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<button mat-raised-button color="primary" id="fail-leader" (click)="leaderFail()">Leader fail</button>
<button mat-raised-button color="primary" id="fail-simulate" (click)="simulateFail()">Simulate fail</button>
