@import "~@angular/material/prebuilt-themes/purple-green.css";

.node {
  width: 250px;
  height: 100px;
}

#node0 {
  position: absolute;
  left: 40%;
  top: 200px;
}

#node1 {
  position: absolute;
  left: 20%;
  top: 200px;
}

#node2 {
  position: absolute;
  right: 20%;
  top: 200px;
}

#fail-leader {
  position: absolute;
  left: 40%;
  top: 400px;
}

#fail-simulate {
  position: absolute;
  right: 40%;
  top: 400px;
}

#client1 {
  position: absolute;
  left: 40%;
  bottom: 10px;
}

.history-list {
  max-height: 150px;
  overflow-y: auto;
}

.status {
  padding: 5px;
}

.up {
  background: green;
}

.down {
  background: red;
}

.unreachable {
  background: orange;
}
