@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: darken(white, 10%);
}
